<% while $c >= 0 do %>
    <div data-role="page" id="Gallery<%= $p %>" class="gallery-page">
      <div data-role="header">
        <h1>Elena Mikhnova</h1>
        <% if $c == $a %>
        <a href="#Gallery1" data-role="button" data-icon="home">home</a>
        <% elsif $r[$c] != nil %>
        <a href="#Gallery<%= $p-1 %>" data-role="button" data-icon="back" data-direction="reverse">back</a>
        <% end %>
        <% if ($r[$c]!=nil)&&($r[$c-9]!=nil) %>
        <a href="#Gallery<%= $p+1 %>" data-role="button" data-icon="forward" data-iconpos="right">forward</a>
        <% end %>
      </div>
      <div data-role="content">
        <div class="gallery">
          <% while ($m < 3)&&($c >= 0) do %>
          <div class="gallery-row">
            <% while ($n < 3)&&($c >= 0) do %>
            <div class="gallery-item"><a href="images/<%= $r[$c].id %>.jpg" rel="external"><img src="images/<%= $r[$c].id %>-thumb.jpg" alt="<%= $r[$c].name %>" /></a></div>
              <% $c -= 1 %>
              <% $n += 1 %>
            <% end %>
            <% $n = 0 %>
          </div>
            <% $m += 1 %>
          <% end %>
          <% $m = 0 %>
          <% $p += 1 %>
        </div>		
      </div>	
    </div>
<% end %>